.header {
    align-items: center;
    background-color: var(--maroon-25);
    display: flex;
    justify-content: space-between;
    padding: 14px 120px;
    position: relative;
    
}

.signButtons {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
}