.header {
    align-items: center;
    background-color: var(--maroon-25);
    display: flex;
    justify-content: space-between;
    padding: 14px 120px;
    position: relative;
    
}

.logo {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 15px;
    position: relative;
}

.logotype {
    height: 50px;
    position: relative;
    width: 50px;
}

.siteName {
    color: #ffffff;
    font-family: "Jua-Regular", Helvetica;
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.options {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: space-between;
    position: relative;
    gap: 60px;
}

.menuItem {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.textWrapper {
    color: #ffffff;
    font-family: "Jua-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.signButtons {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
}

.signInBtn {
    color: white;
    font-family: "Jua-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;

    align-items: center;
    border: 2px dashed;
    border-color: var(--yellow);
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    padding: 8px 10px;
    position: relative;

    cursor: pointer;
}

.signInBtn:hover {
    color:black;
    background-color: var(--yellow);
}

.signUpBtn {
    color: white;
    font-family: "Jua-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;

    align-items: center;
    border: 2px dashed;
    border-color: var(--orange);
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    padding: 8px 10px;
    position: relative;

    cursor: pointer;
}

.signUpBtn:hover {
    color:black;
    background-color: var(--orange);
}

.btn {
    color: white;
    font-family: "Jua-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.btn:hover {
    color: black;
}