.orangeBtn {
    color: white;
    font-family: "Jua-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    
    align-items: center;
    border: 2px dashed;
    border-radius: 20px;
    border-color: var(--orange);
    display: inline-flex;
    justify-content: center;
    padding: 8px 10px;
    position: relative;

    cursor: pointer;
}

.yellowBtn {
    color: white;
    font-family: "Jua-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    
    align-items: center;
    border: 2px dashed;
    border-color: var(--yellow);
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    padding: 8px 10px;
    position: relative;
    

    cursor: pointer;
}

.yellowBtn:hover {
    color:black;
    background-color: var(--yellow);
}

.orangeBtn:hover {
    color:black;
    background-color: var(--orange);
}